# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal

# Virtual Environment
venv/
env/
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

media/
staticfiles/

*.sqlite3
*.db
*.bak
*.backup