# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal

# Virtual Environment
venv/
env/
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Media files
media/
staticfiles/

# Другие
*.sqlite3
*.db
*.bak
*.backup