{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Оптимизация рациона для ваших питомцев</h1>
        <p class="lead">Рассчитайте идеальную суточную норму питания с учетом породы, возраста, веса и целей вашего питомца</p>
        
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">📊 Расчет нормы</h5>
                        <p>Точный расчет калорий и БЖУ</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">🍗 Подбор корма</h5>
                        <p>Рекомендации по питанию</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">📈 Отслеживание</h5>
                        <p>Контроль веса и прогресса</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Начать сейчас</h5>
                <a href="/calculator/" class="btn btn-primary">Рассчитать рацион</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}